
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #ccc;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
}

.pokemon-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    padding-top: 5px;
    font-weight: bold; 
    border: 2px solid #ccc; /* Borde sólido de 2px de ancho */
    border-radius: 8px; /* Bordes redondeados */
    transition: transform 0.3s; /* Transición para el efecto de agrandamiento */
}

.pokemon-item:hover {
    transform: scale(1.05); /* Agrandar ligeramente al hacer hover */
}

.pokemon-item img {
    width: 100%;
}

#logoPokemon {
    display: block; 
    margin: auto; 
}


.pokemonIndividual{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.pokemonIndividual img {
    width: 60%;
    height: 60%;
    align-self: center;
}

select {
    margin: auto;
    margin-bottom: 10%;
    width: 50%;

}

@media screen and (max-width: 768px) {
    #logoPokemon {
        width: 70%;
    }
}